*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.debug{
    border: 1px solid black;
    background-color: rgba(255, 0, 0, .5);
}

/* GENERALI */
header{
    display: flex;
       
    width: 100%;
    height: 100px;

    background-color: blue;
}

main .intro-container{
    width: 100%;

}


/*    /   */
header span{
    color: white;
}
/* HEADER */
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* Da modificare */
    width: 90%;
    margin: 0 auto;   
    /*  */
    background-color: lightblue;
}


ul{
    display: flex;
}
ul li{
    list-style: none;
    margin: 20px;
}
ul li a{
    text-decoration: none;
}

.button{
    width: 70px;
    height: 35px;
    padding: 5px;
    text-align: center;
    background-color: white;
}
/*     /      */

/* MAIN */
.jumbotron{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;

    /* Da togliere */
    height: 570px;
    background-color: greenyellow;
    /*  */
}

.jumbo-container{
    /* da togliere */
    width: 795px;
    height: 390px;

    background-color: green;
    color: white;
}

/* Sezioni da eliminare/modificare */

main .intro-container .section-1{
    width: 100%;

    /* da togliere */
    height: 740px;
    background-color: palevioletred;
}
main .intro-container .section-2{
    width: 100%;

    /* da togliere */
    height: 740px;
    background-color: yellow;
}
main .intro-container .section-3{
    width: 100%;

    /* da togliere */
    height: 740px;
    background-color: lightgrey;
}
main .intro-container .section-4{
    width: 100%;

    /* da togliere */
    height: 740px;
    background-color: lightgoldenrodyellow;
}

/* main .intro-container .section-5{
    width: 100%;


    height: 100px;
    background-color: lightgoldenrodyellow;
} */
/*           //           */

footer{
    width: 100%;

    /* da togliere */
    height: 665px;
    background-color: #23272A;
    color: white;
}
